{% extends "layouts/base.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <h1 class="govuk-heading-xl">Library system coming soon</h1>
  <p class="govuk-body">This GOV.UK-styled shell is ready. Future sections will land here bit by bit.</p>
  {{ govukPanel({
    titleText: "Scaffold is live",
    html: "<p>The GOV.UK Design System wiring is in place. Add features on top of this layout to finish the app.</p>"
  }) }}
  <p class="govuk-body govuk-!-margin-top-4">Visit the feature branches once they are merged so the nav items point to real screens.</p>
{% endblock %}
